@media screen and (max-width: 590px) {
    .navDhoe{
        width: 50vw;
    }
    .title{
        padding: 40px;
    }
    .flex{
        flex-direction: column;
        padding: 0;
    }
    .main{
        padding: 20px;
    }
    .botoes{
        margin-top: 10px !important;
        flex-direction: column;
        gap: 10px;
        font-size: uppercase;
    }
    .botao{
        margin: 0;
    }
    .img-main{
        width: 100%;
    }
    .texto-dhoe{
        left: 0;
        width: 100%;
    }
    .texto-dhoe p{
        font-size: 16px;
        font-weight: 500;
        line-height: 1;
    }
    .text-section{
        padding: 12px;
    }
    .text-img{
        grid-template-columns: 100% !important;
    }
    .perguta > h5{
        text-align: initial !important;
    }
    .resposta p{
        text-align: left;
        line-height: 1.5em;
    }

    li{
        padding: 0 40px;
    }
    .footer-link{
        padding: 0 40px;
        margin-bottom: 40px;
    }
    .email-cab{
        width: 100%;
    }
    .lista-footer{
        padding: 0;
    }
    /*Sobre nos*/
    .descrition-sobrenos-body {
        padding: 10px 21px;
        line-height: 1.4;
    }
}

@media screen and (max-width: 767px) {
   
    .line{
        display: block;
    }
    .botoes{
        display: flex;
        /* justify-content: space-between; */
        flex-direction: column;
        width: 200px;
        /* margin: 55px; */
        position: relative;
        top: 6px;
        left: 104px;
        gap: 5px;
    }
    .botao{
        font-size: 14px;
    }
    .texto-dhoe{
        
    }
    .text-img{
        grid-template-columns: 100% 1fr;
    }
    .footer-contato ul li{
        padding: 0 10px;
    }
    
    
}

@media screen and (max-width: 999px){
    .cc-responsive{
        margin: auto auto;
    }
    .botoes{
        margin: 0;
    }
    .navDhoe{
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        
    }
    .navDhoe.active{
        transform: translate(0);
    }
    .link.active{
        margin-left: 0;
        opacity: 0;
    }
    
    .mobile{
        display: block;
    }
    .footer-cabecalho {
        padding: 20px;
    }
}
@media screen and (max-width: 767px) {
    .text-img {
        grid-template-columns: 50% 1fr;
    }
    .navDhoe {
        top: 12vh;
    }
}
@media screen and (max-width: 320px) {
    .botoes{
        position: inherit;
        width: 90px;
    }

    .title {
        padding: 0px; 
    }
}